.dialog {
    -fx-background-color: #2b2b2b;
}


.dialog-pane {
    -fx-background-color: #333;
}


.text-field {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-background-radius: 20
}


.button {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
    -fx-font-weight: bold;
}
.label{
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #005a9e;
}


.button:pressed {
    -fx-background-color: #004080;
}
.grid {
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%,#00BFFF, #7B68EE);
}
.combo-box {
    -fx-background-color: green;
    -fx-border-color: #007acc;
    -fx-border-radius: 5px;
    -fx-text-fill: white;
}


.combo-box.text-field {
    -fx-background-color: #444;
    -fx-text-fill: white;
}


.combo-box .arrow-button {
    -fx-background-color: #007acc;
    -fx-border-radius: 5px;
}


.combo-box .list-view {
    -fx-background-color: green;
    -fx-border-color: #007acc;
    -fx-text-fill: white;
}


.combo-box .list-cell {
    -fx-text-fill: black;
}


.combo-box .list-cell:hover {
    -fx-background-color: #005a9e;
}
